body {
  background-color: #e0e0e0;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  min-width: 430px;
  min-height: 700px;
}

.module {
  width: 300px;
  height: 473px;
  background:
    radial-gradient(circle 700px at 380px -80px, rgba(0,0,75,0.75) 0%, rgba(0,0,0,1) 100%),
    url(img/eiffel.jpg) center center no-repeat;;
  background-size: 420px;

  /* Center Horizontally and Vertically */
  margin: auto;
  position: relative;
  top: 100px;

  /* Box Model */
  padding: 60px 60px 10px 60px;

  /* Additional Styles */
  color: #fff;
  box-shadow: 0px 50px 30px -40px rgba(0,0,0,0.9), 0px 50px 70px rgba(0,0,0,0.75);
}

nav ul {
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
}
a {
  color: rgba(255,255,255,0.25);
  margin-right: 30px;
  padding: 5px 0;
  border-bottom: 2px solid rgba(0,0,0,0);
  text-decoration: none;
}
nav ul a.selected {
  color: white;
  border-bottom-color: #23f;
}

form {
  margin: 80px 0;
}
label {
  display: block;
  color: rgba(255,255,255,0.4);
  text-transform: uppercase;
  font-size: 10px;
}
label.indent {
  padding-left: 15px;
}
label.checkbox {
  color: white;
  text-transform: none;
}
input {
  display: block;
  width: 270px;
  height: 30px;
  margin: 10px 0;
  border-radius: 15px;
  border: none;
  background-color: rgba(255,255,255,0.15);
  padding: 0 15px;
  color: white;
}
input.checkbox {
  padding: 0;
  margin: 15px 5px 20px 15px;
  margin-left: 15px;
  margin-right: 5px;
  height: auto;
}
input.checkbox:active {
  background-color: blue;
}
input:focus {
  outline: none;
}
.noblock {
  display: inline-block;
  width: auto;
}
button {
  display: block;
  width: 300px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #23f;
  color: white;
  text-transform: uppercase;
}
button:hover {
  cursor: pointer;
}

hr {
  color: rgba(255,255,255,0.25);
  border: 0.5px solid rgba(255,255,255,0.25);
}

.centeredLink {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 10px;
}
[type=checkbox]:hover {
  cursor: pointer;
}
